@import '@scss/utils.scss';
.container {
  @include txt-content;

  .wrap-persons {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    letter-spacing: 1.4px;
    font-weight: bold;
    margin: 42px 0 8px;
  }

  .wrap-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  .icon-heart {
    width: 2rem;
    height: 2rem;

    .st0 {
      fill: #ff5050;
    }
    .st1 {
      fill: #ffffff;
    }
    .st2 {
      fill: #f58989;
    }
  }

  .icon-flower {
    width: 3rem;
    height: 3rem;
    margin-bottom: 0.6rem;
  }
}
