.swiper,
.swiper-wrapper {
  height: 100% !important;
}

.swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
}
